@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100..900&display=swap');
@import "tailwindcss";


:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

}

a {
  font-weight: 500;
  color: #000000;
  text-decoration: inherit;
}
a:hover {
  color: #f25e53;
}

body {

  font-family: "Smooch Sans", serif;
}

h1 {
  font-size: 2.2em;
  line-height: 1.1;
  color: #000000;
}